.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.right_title.right_subtitle {
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 500;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;

    background: url(../img/search.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
  

}

.page {
    position: relative;
    background: #fff;
    height: auto;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    background-color: #0d1420;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #a7a7c4;
}

/*header*/

.header {
    background: url(../img/headerimg.jpg);
    position: sticky;
    z-index: 2;
    top: 0;
    transition: 0.3s ease-in-out;
    height: 80px;
}

.scrolled {
    height: 60px;
    background: #142850;
    transition: .3s ease-in-out;
}

.container-menu {
    display: none;
}

.navbar-toggler {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    transition: color;
    font-family: 'Quicksand', sans-serif;
}

.navbar-toggler:hover {
    color: #1f1f1f;
    background: #fff;
}

.navbar-toggler:active {
    opacity: 0.8;
    position: fixed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}

.nav {
    width: 40%;
}

.nav-list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.btn.btn-log {
    background-color: WHITE;
}

.btn.btn-register {
    BACKGROUND-COLOR: #276179;
    color: white;
}

.btn.btn-logout {
    BACKGROUND-COLOR: #3f94b9;
    color: white;
  }


.nav-link a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.nav-link a:hover {

    transition: 0.3s;
    color: #1f1f1f;
    background: #fff;
}

.content-main {
    background: url(../img/search.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    top: -80px;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center; /* Center text horizontally */
    justify-content: center; /* Center content vertically */
    position: inherit;
    margin-top: -80px;
}

.title {
    color: white;
    font-size: 50px;
    margin: 0; /* Adjust margin */
}

.subtitle {
    margin-top: 30px;
    color: white;
    font-size: 18px;
    margin: 30px; /* Adjust margin */
}

.subtitle2 {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    margin: 10px; /* Adjust margin */
}

.centered-text {
    color: white;
    font-size: 50px;
    margin-top: 100px;
}

.next-text {
    color: white;
    font-size: 24px;
    margin-left: 415px;
    margin-right: 415px;
}

.centered-image {
    margin-top: 30px;
    margin-bottom: 40px;
}

#stay {
    font-size: 20px;
}


::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9fa3b1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9fa3b1;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #9fa3b1;
}

.header-page__link:hover {
    color: #1f1f1f;
    background: #fff;
}

.header-page__link:active {
    opacity: 0.8;
}


.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #1f1f1f;
    background: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.nav-link:active {
    opacity: 0.8;
}

.navbar-nav {
    position: absolute;
    background-color: #0d1420;
}

/*header*/


.search_box {
    margin-bottom: 70px;
    margin-top: 50px;
}

/*about*/

.section__about {
    padding: 80px 0;
    background-color: #f5f6ff;
    background: url(../img/slider_02.jpg) 50% 50% / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0;
    margin-left: 100px;
    text-align: center;
}

.section__suptitle {
    font-size: 50px;
    color: black;
    font-family: 'Quicksand', sans-serif;

}

.section__text {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.section_text2 {
    font-size: 25px;
    font-weight: 900;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.section__suptitle:after {
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    background-color: black;
    ;
    margin: 40px auto 0;
}

.suretimg {
    border-radius: 20px;
}


/*about*/

.bg-chrome {
    background: blue;
}

.offer .carousel {
    width: 1000px;
    height: 500px;
    margin-left: 260px;
    padding-bottom: 20px;
}

.card {
    margin-left: 40px;
    margin-bottom: 30px;
}

.row {
    justify-content: center;
    padding-top: 40px;
    margin: 0px 0px;
    margin-top: -40px;
}



#khan-image {
    padding-bottom: 20px;
}

.interesting {
    padding-top: 30px;
}

.card-text {
    color: #142850;
    text-decoration: none;
}

.about_page {
    display: flex;
    justify-content: flex-end;
}

#aboutme {
    height: 700px;
    background: url(../img/about.jpg) 50% 50%;
}

.right_part2 {
    margin-left: 200px;
    margin-top: 100px;
    color: white;
    margin-bottom: 100px;
}

#works {
    background: url(../img/works.png) 50% 50% no-repeat;
    background-size: 90%;
    height: 500px;
}

h1.works_text {
    padding-top: 70px;
    font-weight: bolder;
}

p.last-text {
    font-size: 25px;
    color: white;
}

#last {
    background-color: #0F2A36;
    padding-bottom: 80px;
    padding-top: 80px;
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}



.row {
    display: flex;

}

.left_text {
    flex: 1;
    /* This makes left_text take up the available space */
    margin-right: 150px;
}

.right_part {
    margin-left: 500px;
    margin-top: 100px;
}

#Slots {
    height: 1000px;
    background: url(../img/search.jpg);
    background-size: cover;
}

.name {
    color: white;
    font-weight: semibold;
    font-size: 50px;
    text-align: center;
}

.rectangle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.rectangle {
    width: 1200px;
    height: 600px;
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  
}

.entrance-main {
    font-size: 40px;
    font-weight: 1000;
    margin-top: 12px;
    margin-bottom: 60px;
}

.input-info {
    display: flex;
    flex-direction: column;
}

.input-info > * {
    width: 100%;
    margin-bottom: 30px;
}

.time-inputs {
    display: flex;
    align-items: center;
}

.time-text {
    margin-right: 20px;
}

.time {
    margin-bottom: 10px;
}

input[type="time"] {
    flex: 1;
    margin-right: 10px;
}

input[type="time"].time {
    width: 200px; /* Adjusted width to 200px */
}

input[type="text"], input[type="date"] {
    width: 600px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    margin-top: 30px;
}

.btn-confirm {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0F2A36;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#kaspi {
    background-color: red;
}

.btn:last-child {
    margin-right: 0;
}

.content {
    display: flex;
    align-items: center;
    margin: 0 auto; 
    margin-top: 3px;
}

.entrance {
    font-size: 20px;
    margin-top: 10px;   
    color: white;
    font-weight: 500;
    margin-left: 10px; 
}

#arrow-left {
    margin-right: 20px
}

#arrow-right {
    margin-left: 20px
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.grid-next {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.row {
    display: flex;
}

.cube {
    width: 74px; 
    height: 74px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    background-color: #fff;
    border-radius: 10px;
}

.cube:nth-child(4),
.cube:nth-child(8) {
    margin-right: 60px; /* Add extra margin between cubes */
}



.result_main {
    font-weight: bold;
    margin-left: 150px;
    padding-top: 50px;
}

.slot_logo {
    margin-left: -100px;
}

.image-container {
    flex: 0 0 auto;
    padding: 0 20px;
}

.text-container {
    flex: 1;
    margin-left: 100px;
}

.slot_logo {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
}

.text-container h2,
.text-container p {
    color: #ffffff;
}

.left_part {
    margin-top: 50px;
}

.top_title {
    color: #F1B676;
}

.panel-content {
    color: white;
}

.faq-header {
    font-size: 42px;
    border-bottom: 1px dotted #ccc;
    padding: 24px;
}

.faq-content {
    margin: 0 auto;
}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}



/*faq*/
.accordion {
    background-color: #27496D;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 20px;
    margin-bottom: 10px;
}

.cont {
    margin-bottom: 40px;
}

.active,
.accordion:hover {
    background-color: #00A8CC;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*faq*/




/*footer*/

.footer-section {
    background: #0d1420;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_img {
    margin-bottom: 40px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 9px;
}

.phone {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.footer_links {
    list-style-type: none;

}

.temik {
    display: none;
}

.right_buttons button {
    margin-right: 20px;
    margin-top: 30px;
    /* Adjust as needed */
}


.button2 {
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0C7B93;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button2:hover {
    background-color: #0C7B93
}

.button2:active {
    background-color: #0C7B93;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




@media (max-width: 1200px) {
    .nav-list {
        display: none;
    }

    .temik {
        display: inline;
    }



    .section__about {
        padding: 80px 0;
        background-color: white;
        margin-top: -200px;
    }







    .section__header {
        width: 100%;
        max-width: 950px;
        margin: 0;

        margin-right: 100px;
        text-align: center;
    }

    .section__suptitle {
        font-size: 50px;
        color: white;
        font-family: 'Quicksand', sans-serif;

    }

    .section__text {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 30px;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .section_text2 {
        font-size: 25px;
        font-weight: 900;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .right_hand_side {
        text-align: left;
        margin-left: 150px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        margin-top: 50px;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
        margin-right: 30px;
        margin-top: 50px;
        margin-left: 150px;
        text-align: left;
    }

    .logo_img {
        margin-bottom: 40px;
    }

    .footer_rights {
        margin-bottom: 20px;
    }

    .interesting {
        font-size: 30px;
    }

    .section__suptitle {
        font-size: 40px;
    }

    .section__text {
        font-size: 30px;
    }

    .section__text2 {
        font-size: 30px;
    }

    .section-top__info {
        font-size: 110px;
    }

    .header-page__nav {
        display: none;
    }

    .section1 {
        padding-top: 150px;
    }
}

@media (max-width: 962px) {}






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #142850;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}





.work-process {
    z-index: 2;

}

.single__process-icon {
    height: 170px;
    width: 170px;
    text-align: center;
    line-height: 170px;
    background: #ffffff;
    box-shadow: 0px 16px 32px 0px rgba(135, 135, 135, 0.1);
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.single__process-icon i {
    position: absolute;
    height: 25px;
    width: 25px;
    display: inline-block;
    background: #ff8941;
    color: #ffffff;
    line-height: 25px;
    border-radius: 50%;
    top: 14px;
    right: 13px;
    font-size: 10px;
}

.single__process-content {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.mundial {
    font-family: 'Quicksand', sans-serif;
}

.single__process-content .number {
    font-size: 200px;
    font-family: "neutrif_prosemi_bold";
    color: #eaecff;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 45px;
    right: 0;
    z-index: -1;
}

.single__process-content h4 {
    font-size: 26px;
    font-family: "neutrif_prosemi_bold";
    margin-bottom: 22px;
}

.single__process-content p {
    margin-bottom: 0;
    font-size: 14px;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single__process-content p {
        padding: 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single__process-content p {
        padding: 0 85px;
    }
}

.fadeInUp {
    font-size: 50px;
}

.section__title {
    margin-right: 200px;
}



#process {
    background-color: #f5f6ff;
}

#idid {
    margin-right: -100px;
}

#sing {
    margin-top: 100px;
}

.access__info-wrap .info-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    background: #ffc731;
    border-radius: 50%;
    margin-bottom: 20px;
}

.access__info-wrap .content h5 {
    font-size: 20px;
    font-family: "neutrif_prosemi_bold";
    margin-bottom: 20px;
}

.access__info-wrap .content p {
    margin-bottom: 0;
    font-size: 14px;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .access-sm {
        padding-top: 110px;
    }
}

@media (max-width: 767px) {
    .access-sm {
        padding-top: 110px;
    }
}

.biggest {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 30px;
    margin-right: -220px;
    margin-left: -60px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
}









.button-34 {
    margin-top: 50px;
    background: #efc03e;
    border-radius: 999px;
    box-shadow: #efc03e 0 10px 20px -10px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 266px;
    height: 66px;
}

.last {
    padding-bottom: 60px;
}



.button-50 {
   margin-right: 40px;
    margin-top: 50px;
    appearance: button;
    background-color: #276179;
    background-image: none;
    border: 1px solid #1f4c5f;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

.footer {
    background: white;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}